*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
    color: whitesmoke;

}

/* Nav Bar Css Start */
.navbar-nav .nav-link {
    margin-right: 20px; /* Adjust the value as per your preference */
}
.mainsect{
    display:flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    background: transparent;
}

.pinkbtn{
    background-color: palevioletred;
    color: whitesmoke;
}
.pinkbtn:hover{
    background-color: rgb(151, 107, 122);
    color: whitesmoke; 
}
/* Nav bar css End */
/* Hero Banner Work Start */
.containerflx {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.box {
    flex: 1;
    /* border: 1px solid #ccc; */
    padding: 20px;
    margin: 10px;
}


.box img {
    max-width: 100%;
    height: auto;
}
.road{
    color: white;
    font-size: 4.5rem;
    font-weight: bold;
}
.twent24{
    color: palevioletred;
    font-size: 3.2rem;
    font-weight: bold;
}
.butset{
    padding-top: 20PX;
}
.butset button{
    border-radius: 10%;
    width: 200px;
    color: palevioletred;
    background-color: transparent;
    border: 1px solid pink;

}
.butset button:hover{
    border-radius: 10%;
    width: 200px;
    color:white;
    background-color: palevioletred;
    border: 1px solid pink;

}
/* Hero Banner one ending */
/* hero Banner Two start */
.hero2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.imgwidh
{
    width: 400px;
    height: 300px;
}
.what{
    font-size: 2.5rem;
    font-weight: bold;

}
/* hERO TWO END */
/* AMINATION START */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
  text-align: center;
}
.dynamic-txts li{
  list-style: none;
  color: #FC6D6D;
  font-size: 4.9rem;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
  color: #FC6D6D;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  /* border-left: 2px solid #FC6D6D; */
  animation: typing 3s steps(10) infinite;
  color: #FC6D6D;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}
